@import url('https://fonts.googleapis.com/css2?family=Biryani&display=swap');
* {
    margin: 0;
}
a {
    text-decoration: none;
    text-align: center;
}

img {
    padding: 22px;
    height: 320px;
}

h1, .attribution {
    text-align: center;
    padding: 22px;
    color: #000000;
}

body {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    font-family: 'Biryani', sans-serif; 
}

.header {
    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
    padding: 25px;
    color: #538FFB;
    font-size: 45px;
    font-weight: 650;
    text-align: center;
}

.select {
    color: #5B54FA;
    padding: 25px;
    text-align: center;
    font-size: 30px;
}

.container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.option {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 18px;  
}

.option {
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.score-container {
    margin: 45px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score {
    padding: 24px;
    background-color: #CDF0EA;
    margin: 15px ;
}

table, th, td {
    padding: 20px 40px;
    border: 1px solid black;
    border-collapse: collapse;
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(5px);
} 

.modal {
    position: relative;
    height: 40%;
    width: 40%;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.play-again {
    margin: 22px;
    color: white;
    font-size: 40px;
    padding: 18px 36px;
    border-radius: 14px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-weight: bolder;
    cursor: pointer;
}
.active {
    visibility: visible;
    opacity: 1;
}
.msg {
    font-size: 45px;
    font-weight: 700;
}